include components/Item
include components/CodeCss
include components/CodePostCss
include components/CodeGradient
include components/Details
include helpers/ExternalLink

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,viewport-fit=cover")
		meta(http-equiv="x-ua-compatible" content="ie=edge")

		title Easings

		link(href="app/css/main.css" rel="stylesheet")

	body
		.u-root.js-root
			svg.u-visually-hidden(xmlns="http://www.w3.org/2000/svg" width="0" height="0")
				-
					const colorBase = '#222';
					const colorStart = '#1976d2';
					const colorEnd = '#00c853';

				defs
					linearGradient#in(x1="0%" y1="100%" x2="100%" y2="0%")
						stop(offset="0%" stop-color=colorBase)
						stop(offset="50%" stop-color=colorBase)
						stop(offset="70%" stop-color=colorEnd)
						stop(offset="100%" stop-color=colorEnd)
					linearGradient#out(x1="0%" y1="100%" x2="100%" y2="0%")
						stop(offset="0%" stop-color=colorStart)
						stop(offset="30%" stop-color=colorStart)
						stop(offset="50%" stop-color=colorBase)
						stop(offset="100%" stop-color=colorBase)
					linearGradient#inOut(x1="0%" y1="100%" x2="100%" y2="0%")
						stop(offset="0%" stop-color=colorStart)
						stop(offset="20%" stop-color=colorStart)
						stop(offset="80%" stop-color=colorEnd)
						stop(offset="100%" stop-color=colorEnd)

			h1.u-visually-hidden Шпаргалка функций плавности (easing)

			.u-wrap
				.b-header.js-header
					.b-header__definition
						p #[b Функция плавности (easing)] определяет скорость течения анимации, делая её более реалистичной.
						p Реальные вещи не начинают двигаться мгновенно и с постоянной скоростью. Если мы открываем ящик стола, то сначала ускоряем его, а на второй половине пути — тормозим. Если что-то упало, то оно сначала летит всё быстрее и быстрее, а ударившись о пол — слегка подпрыгивает обратно.
						p
							| Этот сайт поможет каждый раз подобрать нужную функцию плавности.

					.b-header__opensource.b-translate
						+ExternalLink("https://github.com/ai/easings.net").u-button
							span.u-icon
								svg.u-icon__image
									use(xlink:href="app/img/sprite.svg#help")
							!= ` Translate me!`

						.b-translate__text Help translate site to your language

				.u-container
					-
						const easings = all_easings.reduce(function(resultArray, item, index) {
							const chunkIndex = Math.floor(index / 3);

							if(!resultArray[chunkIndex]) {
								resultArray[chunkIndex] = [];
							}

							resultArray[chunkIndex].push(item);
							return resultArray;
						}, []);

					.b-columns.js-columns
						.b-columns__wrap
							each group in easings
								.b-columns__group
									each item, index in group
										+Item(item, index)


					section.b-info.js-info
						.b-info__header
							a.b-info__back.u-button.u-button--small.js-back(href="#")
								span.u-icon
									svg.u-icon__image.u-icon__image--small
										use(xlink:href="app/img/sprite.svg#arrow")
								!= ` Все функции`

						.b-info__wrap
							.b-info__main
								h2.b-info__title.js-info-name easeInSine

								.b-info-chart.js-info-chart
									.b-info-chart__wrap
										svg.b-info-chart__curve.js-info-curve(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125 85")
											path(d="")

										.b-info-chart__text x
										.b-info-chart__text.b-info-chart__text--bottom t

								.b-example
									.b-example__title CSS
									.js-info-simple
										.b-example__text В CSS свойства transition и animation позволяют указывать функцию плавности.
										.b-example__code
											+CodeCss
									.js-info-complex
										.b-example__text В CSS эту функцию можно реализовать с помощью #[code @keyframes]:
										+Details("Размер", "scale") Загрузка...
										+Details("Положение", "translate") Загрузка...
										+Details("Прозрачность", "opacity") Загрузка...

								.b-example
									.b-example__title PostCSS
									.js-info-simple
										.b-example__text.
											В PostCSS функцию перехода описывать сильно проще.
											Есть плагин (#[+ExternalLink("https://github.com/postcss/postcss-easings") postcss-easings]),
											который берёт информацию о переходе с этого сайта.
										.b-example__code
											+CodePostCss
										.b-example__text Эта декларация преобразуется в подобную, которая описана выше.
									.js-info-complex
										.b-example__text.
											К сожалению, такую функцию плавности нельзя задать с помощью какого-либо плагина PostCSS.
											Это можно сделать с помощью #[code @keyframes], смотри выше.

								.b-example.js-info-simple
									!= `Редактировать текущую функцию на `
									+ExternalLink("http://cubic-bezier.com/").js-cubic-bezier cubic-bezier.com

								.b-example.js-info-simple
									.b-example__title Пример градиента данной функции
									.b-example__text
										!= `Создать нужную функцию можно на `
										+ExternalLink("https://larsenwork.com/easing-gradients/") larsenwork.com/easing-gradients/
									.b-example__gradient.js-gradient
									.b-example__text
										!= `Или можно воспользоваться `
										+ExternalLink("https://github.com/larsenwork/postcss-easing-gradients") PostCSS плагином.
									.b-example__code
										+CodeGradient

							.b-info__case.b-cases
								.b-cases__title Проверить изинг на изменение:
								.b-cases__actions
									button.u-button.u-button--small.b-cases__action.js-case-button(data-type="scale") Размера
									button.u-button.u-button--small.b-cases__action.js-case-button(data-type="translate") Положения
									button.u-button.u-button--small.b-cases__action.js-case-button(data-type="opacity") Прозрачности

								.b-cases__list
									.b-case
										.b-case__title Текущая функция:
										.b-card
											img.b-card__image(src="app/img/case.jpg" alt="")
											.b-card__wrap.js-case-func
												.b-card__text Текущая функция
									.b-case
										.b-case__title Линейная функция:
										.b-card
											img.b-card__image(src="app/img/case.jpg" alt="")
											.b-card__wrap.js-case-target
												.b-card__text Линейная функция



			.b-overlay.js-overlay

			footer.b-footer.js-footer
				.b-footer__group
					.b-footer__copyright
						+ExternalLink("https://twitter.com/andrey_sitnik") Андрей Ситник

					.b-footer__lang
						| <select><option value="/af">Afrikaans</option><option value="/az">Azərbaycanca</option><option value="/ca">Català</option><option value="/cs">Český</option><option value="/cy">Welsh</option><option value="/da">Dansk</option><option value="/de">Deutsch</option><option value="/en">English</option><option value="/es">Español</option><option value="/fa">فارسی</option><option value="/fr">Français</option><option value="/id">Bahasa Indonesia</option><option value="/it">Italiano</option><option value="/ja">日本語</option><option value="/ko">한국어</option><option value="/nb">Norsk (bokmål)</option><option value="/nl">Nederlands</option><option value="/pl">Polski</option><option value="/pt">Português</option><option value="/pt-br">Português brasileiro</option><option value="/ru" selected="selected">Русский</option><option value="/sk">Slovenský</option><option value="/sr-latn">Srpski</option><option value="/sv-se">Svenska</option><option value="/tr">Türkçe</option><option value="/uk">Українська</option><option value="/vi">Tiếng Việt</option><option value="/zh-cn">简体中文</option><option value="/zh-tw">繁體中文</option></select>



		script(src='app/js/main.js' async)
